[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://testpypi.org/simple"
verify_ssl = true
name = "testpypi"

[packages]

[dev-packages]                  # As of 2023-09-04.
cachetools = ">=5.3.0"          # McCache is build from this library.
pre-commit = ">=3.4.0"          # Git pre-commit hook.
podman-compose = ">=1.0.6"      # Use podman to launch 'docker-compose.yml' file.
#pyupgrade = ">=3.10.1"         # Upgrade to modern Python syntax.
#darglint = ">=1.8.1"           # Docstring linter expect docstring formatted suing Google Python Style Guide.
bandit = ">=1.7.5"              # Security issues scanner.
#isort = ">=5.12.0"             # Sort the imports.
mypy = ">=1.5.1"                # Static type checker for Python.
#blue = ">=0.9.1"               # Less uncompromising code formatter compared to 'black'.
ruff = ">=0.0.287"              # Extremely fast Python linter.
vulture = ">=2.9.1"             # Dead code scanner.
pytest = ">=7.4.0"              # Unit testing framework.
coverage = "7.3.1"              # Measure code coverage.
hatch = ">=1.7.0"               # The build tool.

[requires]
python_version = ">=3.10.0"       # McCache uses Structured Pattern Matching.

[scripts]
helloworld = "python -c \"print('Hello World. Ran from: pipenv run helloworld')\""
unittest   = "./tests/run_tests"
minitest   = "./tests/run_tests  MAX_KEYS 10   RUN_MINS 1"
loadtest   = "./tests/run_tests  MAX_KEYS 100  RUN_MINS 10"
appendtest = "for ((i=1;i<=10000;i++)); do echo "$(hostname) $(date '+%T %N')" >> ${MCCACHE_DEBUG_FILE}; done"

