[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cachetools = "*"
psutil = "*"
poetry = "*"

[dev-packages]
podman-compose = "*"
pytest = "*"

[requires]
python_version = "3.11"
